/CelsiusConverterInterface/nbproject/private/
/CelsiusConverter/nbproject/private/
/CelsiusConverterClient/nbproject/private/
/CelsiusConverter/build/
/CelsiusConverterInterface/dist/
/CelsiusConverterInterface/build/
/CelsiusConverterClient/dist/
/CelsiusConverterClient/build/
